@font-face{
    font-family: 'Graphik';
    src: url("./fonts/Graphik-Medium.otf")
}
@font-face{
    font-family: 'Graphik';
    src: url("./fonts/Graphik-Medium.otf");
    font-weight: bold;
}
body{
    margin: 0;
    font-family: 'Graphik', sans-serif;
}
.ryviu-wrapper{
    display: inline-block;
    width: 100%;
    padding-bottom: 60px;
}
.ry-head{
    width: 100%;
    padding-top: 20px;
    max-width: 1325px;
    margin: auto;
}
.ry-logo{
    display: inline-block;
    margin-top: 5px;
}
.ry-menu{
    float: right;
}
.ry-menu a{
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 11px;
}
.ry-body{
    width: 90%;
    margin: auto;
    max-width: 1200px;
    color: #333;
    line-height: 1.4; 
}
.body-intro{
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
}
.intro-content{
    display: inline-block;
    padding: 30px 80px 30px 0px;
}
.tick{
    margin-bottom: 15px;
}
.tick img{
    margin-right: 10px;
}
.tick p{
    display: inline-block;
    font-size: 20px;
}
.intro-content p{
    margin: 0;
    color: rgb(1, 109, 209);  
    text-decoration: underline;
}
.intro-title{
    border-bottom: 4px solid #ffc033;
    margin: 0;
    margin-bottom: 20px;
    font-size: 42px;
}
.intro-title span{
    color: #ffc033;
}
.ry-button{
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 11px 30px;
    background: 0 0;
    color: rgb(1, 109, 209);  
    border: 1px solid #dbdbdb;
    cursor: pointer;
    outline: none;
}
.intro-form{
    display: inline-block;
    border-radius: 10px;
    border: solid 1px #ddd;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    max-width: 536px;
    padding: 30px 30px;
    box-sizing: border-box;
}
.intro-form p{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.input-email{
    background: #f2f2f2;
    font-weight: 700;
    border: solid 1px #c6c6c6;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    padding: 18px 16px;
    margin: 15px 0 20px;
    box-sizing: border-box;
    outline: none;
}
.form-button{
    width: 100%;
    background: rgb(1, 109, 209);  
    color: #fff;
    font-size: 22px;
    padding: 16px 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}


.body-show{
    margin-top: 85px;
    width: 100%;
    float: left;
}
.title-show{
    margin: 0 auto 35px;
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    max-width: 698px;
}
.show123{
    display: inline-block;
    width: 30%;
}
.show123 img{
    width: 295px;
    max-width: 100%;
}
.show-1{
    margin-right: 1.85%;
}
.show-1 img{
    margin-bottom: 3px;
}
.show-2{
    margin-top: 32px;
}
.show-2 img{
    margin-bottom: 34px;
}
.show-3{
    margin-left: 1.85%;
}
.show-3 img{
    margin-bottom: 12px;
}
.show123 p{
    margin: 0;
    font-size: 18px;
}
.show123 h3{
    margin:0 0 15px;
    display: inline-block;
    font-size: 22px;
    width: 100%;
}

.partners{
    margin-top: 60px;
    float: left;
}
.title-theme h2{
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}
.title-theme{
    margin-bottom: 38px;
}
.theme .png{
    width: 360px;
    margin-bottom: 12px;
}
.partner-1{
    margin-right: 30px;
}
.partner-2{
    margin: 0 30px 0 30px;
}
.partner-3{
    margin-left: 30px;
}
.theme{
    float: left;
}
.theme .more{
    margin-right: 5px;
}
.title-theme .note{
    color: #ffc033;
    font-size: 18px;
}

.customers{
    float: left;
    margin-top: 60px;
}
.happy{
    width: 42%;
    padding: 23px 40px 25px 20px;
    border-radius: 10px;
    float: left;
}
.happy:hover{
    background: #f2f2f2;
}
.customers .feel{
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}
.customers p{
    margin: 0 0 20px;
}
.customers h4{
    margin: 0;
}
.customers .star{
    margin-bottom: 20px;
}
.title-happy img{
    margin: 0 16px 0 6px;
}
.name-shop .impor{
    color: rgb(1, 109, 209);  
    text-decoration: underline;
}
.name-shop .owner{
    margin-top: 5px;
    color: #777;
}
.name-shop span{
    display: inline-block;
    margin-top: 10px;
}

.connect{
    float: left;
    margin-top: 45px;
    padding: 27px 0 0;
    border-top: 2px solid #707070;
}
.connect-menu li{
    margin-right: 17px;
}
.item-connect{
    margin-bottom: 25px;
}
.item-connect span{
    font-weight: 700;
}
.item-connect a{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: rgb(1, 109, 209);  
}
img{
    vertical-align: middle;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    list-style-type: none;
}
.menu-mobi{
    display: none;
}
@media only screen and (max-width: 375px) {
    .ry-head{
        width: 95%; 
    }
    .intro-content{
        padding: 0;
    }
    .ry-menu {
        display: none;
    }
    .list-menu-mobi{
        display: none;
    }
    .menu-mobi:hover .list-menu-mobi{
        position: absolute;
        display: block;
    }
    .menu-mobi{
        position: relative;
        display: block;
        float: right;
    }
    .menu-mobi .icon-menu{
        width: 20px;
    }
    .intro-content{
        margin-bottom: 30px;
    }
    .intro-title{
        font-size: 23.7px;
    }
    .intro-form{
        padding: 20px;
    }
    .input-email{
        font-size: 16px;
        height: 37px;
    }
    .intro-form p{
        font-size: 18px;
    }
    .form-button{
        font-size: 16px;
        height: 37px;
        line-height: 8px;
    }
    .tick img{
        display: none;
    }
    .theme{
        margin: 0 0 30px 0;
    }
    .theme h3{
        margin:0;
    }
    .theme .png{
        width: 100%;
    }
    .body-show{
        margin-top: 40px;
    }
    .title-show{
        font-size: 22.7px;
        margin-bottom: 20px;
    }
    .show123{
        width: 100%;
        margin: 0 0 40px 0;
    }
    .show123 p{
        font-size: 16px;
    }
    .partners{
        margin: 0;
    }
    .title-theme{
        margin-bottom: 25px;
    }
    .customers{
        margin-top: 0;
    }
    .title-happy{
        font-size: 32px;
    }
    .happy{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
} 
